header {
  display: flex;
  padding: 1rem;
  margin: 1rem auto;
  margin-top: 0;
  border-bottom: 2px solid rgba(211, 211, 211, 0.471);
  max-width: 87.5rem;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: "Newsreader", serif;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  font-weight: 300;
  justify-self: center;
}

.linksHeader ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.linksHeader a {
  color: #eee;
  transition: 0.3s;
  padding: 1rem;
}

.listaLinks:hover li a {
  color: #eee;
  text-decoration: underline;
}

.listaLinks:hover li a:not(:hover) {
  color: #9291919d;
  text-decoration: none;
}

@media(width < 710px){
  body{
    font-size: 10%;
  }
}

@media(width < 520px){
  header{
    flex-direction: column;
    background-color: blue;
    align-items: center;
  }
}