.introducao {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.saudacao {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.paragrafoApresentacao {
  margin: 2rem 0;
}

.destaque {
  color: rgb(240, 128, 128);
}

.mandaUmEmailAi {
  margin-bottom: 2rem;
}

.mandaUmEmailAi,
.olhadaCurriculo {
  font-weight: bold;
}

.toMelhorandoPo {
  font-size: 0.9rem;
}

.imagens {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.imagemGrande {
  max-width: 40rem;
  height: auto;
  position: relative;
}

.imagens::before{
  content: '';
  display: block;
  width: 11rem;
  height: 11rem;
  background: url('./imagens/cartoon.webp');
  background-size: cover;
  top: 1rem;
  left: 4.7rem;
  z-index: 100;
  position: absolute;
  border-radius: 50%;
  border: solid 2px white;
}

.linksIntroducao {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.linksIntroducao img {
  position: absolute;
  max-width: 5rem;
}

.linksIntroducao p {
  position: absolute;
}

.linksApresentacao{
  text-wrap: wrap;
}

.linksIntroducao a {
  color: #eee;
  padding: 1rem;
}

.linksIntroducao a:hover {
  text-decoration: underline;
}

@media(width < 1120px){
  .imagens{
    max-width: 30rem;
  }

  .imagens::before{
    width: 8rem;
    height: 8rem;
    top: 5rem;
    left: 2.2rem;
  }
}

@media(width < 1000px){
  .imagens::before{
    width: 8rem;
    height: 8rem;
    top: 7rem;
    left: 1.5rem;
  } 
}

@media(width < 800px){
  .introducao{
    grid-template-columns: 1fr;
  }

  .imagens::before{
    width: 7rem;
    height: 7rem;
    top: 1rem;
    left: 1rem;
  }
  
  .imagens::before{
    width: 7rem;
    height: 7rem;
    top: 1rem;
    left: 3rem;
  }

  .introducao{
    background: red;
    /* margin: 1rem; */
  }
}

@media(width < 750px){
  .linksIntroducao{
    justify-content: center;
  }
}

@media(width < 350px){
  img{
    display: none;
  }

  iframe{
    display: none;
  }
}

