.introducao {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin: 0 5rem;
}

.saudacao {
  font-size: 3rem;
  /* margin-bottom: 1rem; */
}

.paragrafoApresentacao {
  margin: 2rem 0;
}

.destaque {
  color: rgb(240, 128, 128);
}

.mandaUmEmailAi {
  margin-bottom: 2rem;
}

.mandaUmEmailAi,
.olhadaCurriculo {
  font-weight: bold;
}

.toMelhorandoPo {
  font-size: 0.9rem;
}

.imagemGrande {
  position: relative;
  max-width: 40rem;
  justify-self: end;
  display: block;
}

.imagemAvatar {
  position: absolute;
  max-width: 12rem;
  border: 3px solid c;
  border-radius: 50%;
  top: 7rem;
  right: 28rem;
}

.linksIntroducao {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
}

.linksIntroducao img {
  position: absolute;
  max-width: 5rem;
}

.linksIntroducao p {
  position: absolute;
}

.linksIntroducao a {
  color: #eee;
}

.linksIntroducao a:hover {
  text-decoration: underline;
}