.introducao {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 0 5rem;
}

.saudacao {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.paragrafoApresentacao {
  margin: 2rem 0;
}

.destaque {
  color: rgb(240, 128, 128);
}

.mandaUmEmailAi {
  margin-bottom: 2rem;
}

.mandaUmEmailAi,
.olhadaCurriculo {
  font-weight: bold;
}

.toMelhorandoPo {
  font-size: 0.9rem;
}

.imagens {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.imagemGrande {
  max-width: 40rem;
  height: auto;
}

.imagemAvatar {
  position: absolute;
  width: 25%;
  max-width: 10rem;
  border: 3px solid #fff;
  border-radius: 50%;
  top: 10%;
  right: 10%;
  transform: translate(-210%, -30%);
}


.linksIntroducao {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.linksIntroducao img {
  position: absolute;
  max-width: 5rem;
}

.linksIntroducao p {
  position: absolute;
}

.linksIntroducao a {
  color: #eee;
  padding: 1rem;
}

.linksIntroducao a:hover {
  text-decoration: underline;
}

@media(width < 1120px){
  .imagens{
    max-width: 30rem;
  }
}

@media(width <= 1000px){
  .imagemAvatar{
    transform: translate(-210%, 50%);
  }

  .introducao{
    margin: 2rem;
  }
}

@media(width < 830px) and (width > 800){
  .imagemAvatar{
    transform: translate(-210%, 140%);
  }

  
}

@media(width < 800px){
  .imagemAvatar{
    transform: translate(-210%, -20%);
  }

  .introducao{
    background: red;
    /* margin: 1rem; */
  }
}

